* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: aliceblue;
}


a {
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    color: rgb(222, 53, 38);
    margin: 1rem;
}